<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find a roomate. List your place.</title>
    <link rel="stylesheet" href="css/add_listing.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script type="text/javascript" src="scripts/add_listing.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
        function openNav() {
        document.getElementById("mySidenav").style.display = "block";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.display = "none";
        }
   </script>
   <meta name="description" content="List your place for renting out">
   <meta name="keywords" content="Bunkmmate,Roomatefinder,renting,roommate">
   <meta name="author" content="Vrushali Jadhav">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body onload="closeNav()">
    <header>
        <div class="navigationclass">

                <ul class="navbar-nav" id="navg">

                  <li class="nav-item">
                    <a class="nav-link sidebar" style="font-size:28px;cursor:pointer" onclick="openNav()">&#9776;&nbsp;</a>

                  </li>
                    <li class="nav-item">
                        <a class="nav-link active home" id="hom" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link welcome">Welcome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-b"> User</a>
                    </li>
                </ul>
        </div>
</header>
<div id="mySidenav" class="sidenav" style="width:200px;">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <a href="user_profile.html">My Profile</a>
   <a href="/getUserListing">My Listings</a>
   <a href="http://35.167.216.61:3001/chat">View Messages</a>
  <a href="/logout">logout</a>

</div>

<div class="w3-light-grey">
   <div class="w3-green" style="height:15px;width:66.67%; border-radius: 5px;"></div>
</div><br>

<div class="l1" >
    <div class="image">
        <img id ="actualimage" src="images/Posts/postsBackground.jpg" alt="Image not found" title="list place for rent">
    </div>

<div class="post_content">
    <div class="content">
          <h2>STEP 4</h2>
          <div class="user_listings">
              <p class="sen">Select all amenities your place has:</p><br><br>
              <label style="display: unset">Gym
              <input type="radio" class="option" id="gym" value="gym">&nbsp;</label>
              <label style="display: unset">Pool
              <input type="radio" class="option" id="pool" value="pool">&nbsp;</label>
              <label style="display: unset">Laundry
              <input type="radio" class="option" id="wd" value="wd">&nbsp;</label>
              <label style="display: unset">Parking
              <input type="radio" class="option" id="parking" value="park">&nbsp;</label><br><br><br>
              <label style="display: unset">Do you want to add anything else?<br>
              <input type="text" class = "otherdetails" id="other"></label>
              <br><br>

              <p class="sen">Do you have any pets ?</p><br>
              <label style="display: unset">Cat
              <input type="radio" class="option" id="cat" value="cat">&nbsp;&nbsp;</label>
              <label style="display: unset">Dog
              <input type="radio" class="option" id="dog" value="dog">&nbsp;&nbsp;</label>
              <label style="display: unset">No Pets
              <input type="radio" class="option" id="no_pets" value="no_pets">&nbsp;&nbsp;</label>
              <br><br>

              <p class="sen">Is your place smoke friendly ?</p><br>
              <label style="display: unset">Yes
              <input type="radio" class="option" id="yes" value="yes">&nbsp;&nbsp;</label>
              <label style="display: unset">No
              <input type="radio" class="option" id="no" value="no">&nbsp;&nbsp;</label>
        </div>
        <div class="postbuttons">
            <button class="left3" onclick="location.href = 'getuserlisting3';" value="Previous">Back</button>
            <button class="right3" onclick="amenities();" value="Next">Next</button>
        </div>
    </div>
</div>
</div>
  </body>
</html>