<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Find a roomate. List your place.</title>
    <link rel="stylesheet" href="css/add_listing.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="scripts/add_listing.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>
        function openNav() {
            document.getElementById("mySidenav").style.display = "block";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.display = "none";
        }
  </script>
        <header>
            <div class="navigationclass">
                <ul class="navbar-nav" id="navg">
                  <li class="nav-item">
                    <a class="nav-link sidebar" style="font-size:28px;cursor:pointer" onclick="openNav()">&#9776;&nbsp;</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link active home" id="hom" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link welcome">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-b">Listing</a>
                    </li>
                </ul>
            </div>
      </header>
      <meta name="description" content="List your place for renting out">
    <meta name="keywords" content="Bunkmmate,Roomatefinder,renting,roommate">
    <meta name="author" content="Vrushali Jadhav">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body onload="closeNav()">


  <div id="mySidenav" class="sidenav" style="display: none; width:20%;">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="user_profile.html">My Profile</a>
      <a href="/getUserListing">My Listings</a>
      <a href="http://localhost:3001/chat">View Messages</a>
      <a href="/logout">Logout</a>
  </div>

<div class="w3-light-grey">
   <div class="w3-green" style="height:15px;width:16.67%; border-radius: 5px;"></div>
</div><br>

      <div class="l1" >
            <div class="image">
              <img id ="actualimage" src="images/Posts/postsBackground.jpg" alt="Image not found" title="list place for rent">
            </div>
            <div class="post_content">
              <div class="content">
                  <h2>STEP 1</h2>
                  <div class="user_listings">
                      <p class="sen">What type of place do you have ?</p>
                      <select class="place" id="place" required>
                        <option value="entire_place">Entire Place</option>
                        <option value="Private Room">Private Room</option>
                        <option value="Shared Room">Shared Room</option>
                      </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <select class="gender_pref" id="gender_pref" required>
                        <option value="Female">For Female</option>
                        <option value="Male">For Male</option>
                        <option value="Co-ed">Any gender is fine!</option>
                      </select><br>
                  </div>
                  <button class="left" onclick="location.href = '/getUserListing';" value="Previous">Back</button>
                  <button class="right" onclick="placeGen();" value="Next">Next</button>
              </div>
            </div>
      </div>
  </body>
</html>