<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <!-- <link rel="stylesheet" href="test.css"> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/user_profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">
    var loadFile = function(event) {
  	var image = document.getElementById('output');
  	image.src = URL.createObjectURL(event.target.files[0]);
  };
    function openNav() {
      document.getElementById("mySidenav").style.display = "block";
      }
    function closeNav() {
      document.getElementById("mySidenav").style.display = "none";
     }
    </script>
    <meta name="description" content="User profile details.">
    <meta name="keywords" content="Bunkmmate,Roomatefinder,renting,roommate">
    <meta name="author" content="Vrushali Jadhav">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body onload="closeNav()">
  <header>
    <div class="navclass">
            <ul class="navbar-nav1" id="navg1">
              <li class="nav-item1">
                <a class="nav-link1 sidebar" style="font-size:28px;cursor:pointer; padding-top: 0.5%" onclick="openNav()">&#9776;&nbsp;</a>
              </li>
                <li class="nav-item1">
                    <a class="nav-link1 active" id="hom" href="/homepage">Home</a>
                </li>
                <li class="nav-item1">
                  <a class="nav-link1 welcome">Welcome</a>
                </li>
                <li class="nav-item1">
                    <a class="nav-link1 color-b" style="color: #2eca6a"> User</a>
                </li>
            </ul>
    </div>
  </header>
  <div id="mySidenav" class="sidenav1" style="display: none; width:20%;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     <a href="user_profile.html">My Profile</a>

     
    <a href="/logout">logout</a>
     <a href="/getUserListing">My Listings</a>
     <a href="http://localhost:3001/chat">View Messages</a>
   
  </div>
  <div class="outer">
    <div class="container" style="background-color:#2eca6a47; border-radius:7px;" >
      <div class="row">
        <div class="col-sm-auto" >
          <div class="card-body">
            <h5 class="card-title">User Name</h5>
          </div>
      <div class="card" style="width: 18rem; border: solid #6b6868; height: 270px; border-radius:" >
        <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
        <p><img id="output" width="200"/></p>

    </div>
    <p><label for="file" style="
    cursor: pointer;
    font-weight: bold;
    color: #212529;
    font-size: 20px;
    padding-left: 10%;
    ">Upload Profile Picture</label></p>
     </div>
     <div class="col-sm-auto">
      <form id="form">
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" value="user@gmail.com">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" value="********" >
          </div>
          </div>
          <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          </div>
          <div class="form-group">

          </div>
          <button type="submit" class="btn btn-primary">Update</button>
          </form>
             </div>

      </div>
      </div>
    </div>
  </body>
</html>